html {
  font-family: "Noto Serif", serif;
  background-color: #fff;
}

header {
  background-color: #70ad55;
  color: #fff;
}

.chunk {
  border: 1px solid #70ad55;
  border-top: none;
  border-right: none;
  border-left: none;
}

.option {
  color: #70ad55;
}

textarea {
  min-height: 10rem;
}

input, textarea, select {
  border-color: #6e8c62;
}

input[type="checkbox"] + label::before {
  border-color: #6e8c62;
}

input[type="radio"] + label::before {
  border-color: #6e8c62;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
  color: #fff;
}

.copyright {
  background-color: #70ad55;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .different {
    padding-right: 1.5rem;
  }

}
